.fade-up[data-observe-fade-up="true"] {
  @apply translate-y-10 opacity-0 transition-all duration-500 ease-out;
}
.fade-up[data-observe-fade-up="true"].active {
  @apply translate-y-0 opacity-100;
}

.fade-down[data-observe-fade-down="true"] {
  @apply -translate-y-10 opacity-0 transition-all duration-500 ease-out;
}
.fade-down[data-observe-fade-down="true"].active {
  @apply translate-y-0 opacity-100;
}

.fade-left[data-observe-fade-left="true"] {
  @apply -translate-x-10 opacity-0 transition-all duration-500 ease-out;
}
.fade-left[data-observe-fade-left="true"].active {
  @apply translate-x-0 opacity-100;
}

.fade-right[data-observe-fade-right="true"] {
  @apply translate-x-10 opacity-0 transition-all duration-500 ease-out;
}
.fade-right[data-observe-fade-right="true"].active {
  @apply translate-x-0 opacity-100;
}
