/* Simple fade animations - default hidden state */
.fade-up,
.fade-down,
.fade-left,
.fade-right {
  @apply transition-all duration-500 ease-out;
}

/* Hidden states */
.fade-up:not(.active) {
  @apply translate-y-10 opacity-0;
}

.fade-down:not(.active) {
  @apply -translate-y-10 opacity-0;
}

.fade-left:not(.active) {
  @apply -translate-x-10 opacity-0;
}

.fade-right:not(.active) {
  @apply translate-x-10 opacity-0;
}

/* Active states - visible */
.fade-up.active,
.fade-down.active,
.fade-left.active,
.fade-right.active {
  @apply translate-x-0 translate-y-0 opacity-100;
}
